.DS_Store
*.wav
*.mat

DAFx13LaTexTemplate/DAFx13_tmpl.aux

DAFx13LaTexTemplate/DAFx13_tmpl.aux

DAFx13LaTexTemplate/DAFx13_tmpl.bbl

DAFx13LaTexTemplate/DAFx13_tmpl.blg

DAFx13LaTexTemplate/DAFx13_tmpl.log

DAFx13LaTexTemplate/DAFx13_tmpl.pdf

DAFx13LaTexTemplate/DAFx13_tmpl.synctex.gz

bases/alto-sax-free-jazz/_readme_and_license.txt

bases/daxophone/133531__samuelburt__daxophone-solo-01.mp3

bases/daxophone/_readme_and_license.txt
